extends layout.pug 

block content
  .container
    ul 
      each post of posts
        li 
          a(href="/post/" + post.postId)= post.title
          | #{" by "}
          a(href="/user/" + post.userId)= post.name
    nav(aria-label='Page navigation example')
      ul.pagination
        if page > 1
          li.page-item
            a.page-link(href=`/?page=${page - 1}`) 上一页
        else 
          li.page-item.disabled
            a.page-link(href=`/?page=${page - 1}`) 上一页
        li.page-item
          a.page-link(href=`/?page=${page}`)= page
        if page !== totalPage
          li.page-item
            a.page-link(href=`/?page=${page + 1}`) 下一页
        else 
          li.page-item.disabled
            a.page-link(href=`/?page=${page + 1}`) 下一页
          