extends layout.pug 

block content
  .container
    h2= post.title
    h3 发帖人: #[a(href='/user/' + post.userId)= post.name]
    img(src=post.avatar width=50 height=50)
    span= post.timestamp 
    fieldset= post.content
    if loginUser && post.userId  == loginUser.userId
      button.btn.btn-danger.delete-post(data-post-id=post.postId) 删除帖子
    hr
    each comment in comments
      fieldset
        legend
          a(href='/user/' + comment.userId)= comment.name
          | (#{comment.timestamp})
          if loginUser && comment.userId  == loginUser.userId 
            button.btn.btn-danger.delete-comment(data-comment-id=comment.commentId) 删除
        p= comment.content
    if isLogin
      form(action=`/comment/post/${post.postId}`, method="POST")
        .form-floating
          textarea#floatingTextarea2.form-control(name="content", style='height: 100px')
          label(for='floatingTextarea2') 发表评论
          button.btn.btn-primary 开始对线
    else 
      p 想对线？
        a(href="/login") 先登录
  
  script(src="/delete.js") 